<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      Hi <%= current_user.email %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Profile','/user/profile/'+current_user.id.to_s%>
    <% end %>
    <%= yield %>
  </body>
</html>
